html,
body {
  font-family: Arial, Sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;


}
#search {
  position: fixed;
  left: 80%;
  top: 55px;
  height: 30px;
   background-color: #FFF0F5;
  width: 20%;
  font-size: 15px;
  background-color: #006699;
   border: 2px solid #000080;
    border-radius: 4px;
	text-align:center;
   
}
#t_i{

	text-align:center;
	color:#006699;
	font-size: 25px;



	
}
#names{
	font-size:20px;
	padding:10px;
	margin:10px;
	color:#731212;
	background:#fff;
	
}
#map {
  height: 100%;
  width:80%;
  padding-top:10px;
}


#search-container {
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #006699;
  top: 93px;
  left: 80%;
  width: 20%;
  margin: 0;
  padding: 0;
  font-size: 15px;
   border: 2px solid #000080;
    border-radius: 4px;
}
#title{
	  
	flex-grow: 1;
    height: 50px;
    font-size: 1em;
    padding: 5px 20px;
	top:45%;
	background-color:#000;
}
	



li:last-child:after {
content: "";
}

@media only screen and (max-width: 650px) {

    #main {
     position: fixed;
    left: 85%;
    right: 0;
    top: 0;
    width: 40px;
    }

	 h2 {
		  font-size: 15px;
		}

    #title {
     position: fixed;
    top: 0px;
    width: 30%;
    left: 5%;
    }



    #search {
    position: fixed;
  
    top: 40px;
    height: 30px;
    width: 29%;
    font-size: 8px;
    }

    #list-container {
    position: fixed;
    height:27%;
    overflow: auto;
    top: 80px;
    left: 5%;
    width: 30%;
    background-color: #006699;
    margin: 0;
    padding: 0;
    font-size: 15px;
    }

}
